<h1>Tiny URLS</h1>
<%if (email) {%>
  <p>Username: <%=email%></p>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout" name="Logout">
  </form>
  <a href='http://localhost:8080/urls'>My Links</a>
<%} else {%>
  <a href="./login">Login</a>
  <a href="./register">Register Now</a>
  <a href=./urls>My Links</a>
<%}%>
